.MBTIPercent_box {
  width: 280px;
  height: 28px;
  padding: 10px 16px;
  margin-bottom: 8px;
  border-radius: 15px;
  box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
  background-color: #e8e0ce;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
}
span {
  font-size: 16px;
  font-family: Noto Sans KR;
}
