.result_container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f4f2ed;
    flex-direction: column;
}
.result_rectangle_big_container {
    width: 312px;
    margin-bottom: 16px;
    border-radius: 15px;
    box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
    background-color: #e8e0ce;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}
.result_rectangle_result_box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
    background-color: #cdd1c7;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
}
.result_title_small {
    height: 45px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    color: #1f513f;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    font-family: Noto Sans KR;
}
.result_personality_text {
    /*text 줄바꿈*/
    white-space: normal;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 6px;
    font-weight: 700;
    color: #1f513f;
    font-size: 14px;
    line-height: 20px;
    font-family: Noto Sans KR;
}

p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #1f513f;
    font-family: Noto Sans KR;
    margin-top: 0px;
    margin-bottom: 16px;
}
.result_myFriendsContainer {
    flex-direction: column;
    justify-content: center;
    color: #1f513f;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    font-family: Noto Sans KR;
}

.result_buttonContainer {
    width: 260px;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 44px;
}
.result_button {
    background-color: #acb4a2;
    color: #f4f2ed;
    border-radius: 8px;
    padding: 0 12px 0 12px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Noto Sans KR;
    text-decoration: none;
    border-width: 0;
}
.result_button:hover,
.result_shareIcons > img:hover {
    cursor: pointer;
}
.result_button:active {
    background-color: #dadcd2;
}
.result_shareContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f513f;
    font-weight: bold;
    text-align: center;
    font-family: Noto Sans KR;
    margin-bottom: 90px;
}
.result_shareIcons {
    margin-top: 18px;
    width: 240px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
