.query_container {
  background-color: #1f513f;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.query_question {
  width: 296px;
  height: 78px;
  margin: 0 0 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  transition-delay: 0.2s;

  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  white-space: pre;
}

.query_answer {
  width: 296px;
  height: 64px;
  margin: 0 0 24px 0;
  border-radius: 15px;
  box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  transition: 0.15s ease;

  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #f4f2ed;
}

.query_answer:click {
  width: 296px;
  height: 64px;
  border-radius: 14px;
  box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
  background-color: #e8e0ce;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #1f513f;
}

.query_prevBtn {
  width: 93px;
  height: 36px;
  margin: 73px 200px 0 0;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(172, 180, 162, 0.25);
  background-color: #acb4a2;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #f4f2ed;
}

@keyframes change {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

.progress-div {
  margin: 38px;
  background-color: #7e8478;
  border-radius: 0.5rem;
  height: 5px;
  position: relative;
}

.progress {
  background-color: #e8e0ce;
  height: 5px;
  border-radius: 1rem;
  position: absolute;
  transition: 1s ease;
  transition-delay: 0.1s;
}

.progress-boy {
  position: absolute;
  display: block;
  right: -7px;
  top: -7px;
}
