.login_container {
  background-color: #1f513f;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}
.login_view {
  max-width: 750px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}
.login_mainTitle {
  font-family: JalnanOTF;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
  color: #f4f2ed;
}
.login_mbti {
  display: flex;
  justify-content: center;
}
.login_subTitle {
  width: 100%;
  margin-top: 10px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(244, 242, 237, 0.8);
}
.boyImg {
  width: 202px;
  height: 281px;
}
.login_countMsg {
  color: #f4f2ed;
  margin-top: 57px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
.kakao {
  width: 272px;
  height: 40px;
  margin-top: 8px;
  object-fit: contain;
}

.vectorImg {
  position: absolute;
  opacity: 0.3;
  border: 4px solid #e8e0ce;
  width: 100%;
}
