.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container {
  background-color: #f4f2ed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /*justify-content: center;   1번*/
  flex-direction: column;
}

.login_mainTitle {
  font-family: JejuGothic;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000;
  margin-top: 127px;
  display: flex;
  text-align: center;
  white-space: pre-line;
}
.login_mbti {
  /*transform: rotateX(180deg);*/
  perspective: 400px;
}
.login_subTitle {
  margin-top: 10px;
  font-family: Cafe24Ssurroundair;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  display: flex;
  color: #000;
}

.login_countMsg {
  width: 121px;
  height: 21px;
  margin: 59px 76px 7px 75px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  display: flex;
  justify-content: center;
}
.kakao {
  width: 272px;
  height: 40px;
}
@media screen and (max-width > max-height) {
  .app {
    zoom: 0.5;
  }
}
@media screen and (max-width: 375px) {
  .app {
    zoom: 0.9;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app {
    zoom: 1.5;
  }
}
@media screen and (min-width: 1024px) {
  .app {
    zoom: 1.8;
  }
  .login_mainTitle {
    margin-top: 35px;
  }
}
